<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjS8f_xJi3D51YJyZTcIY5wGmMkFQ1vgw</string>
	<key>GCM_SENDER_ID</key>
	<string>79853946102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myProject</string>
	<key>PROJECT_ID</key>
	<string>finalsoa-fae05</string>
	<key>STORAGE_BUCKET</key>
	<string>finalsoa-fae05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79853946102:ios:3ff871d7ffefb67443d8d7</string>
</dict>
</plist>